<div class="card login mx-auto">
  <h3 class = "text-center mt-2">Nuevo Edificio</h3>
    <%= image_tag 'building.png', alt: 'building', class: "mt-1 img_login" %>
  <div class="card-body">
    <%= form_with(model: building) do |form| %>
      <% if building.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(building.errors.count, "error") %> Edificio no califica para ser guardado:</h2>
          <ul>
            <% building.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%# <%= form.label :name %>
        <h6>Nombre</h6>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%# <%= form.label :address %>
        <h6>Dirección</h6>
        <%= form.text_area :address %>
      </div>

      <div class="field">
        <%# <%= form.label :city %>
        <h6>Ciudad</h6>
        <%= form.text_field :city %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>

