<p id="notice"><%= notice %></p>

<%# <h1 class= "text-center fs-1">Edificios</h1> %>

<br>
<h1 class= "text-center fs-1 fw-bold shadow-lg">EDIFICIOS</h1>
<br>
<%# <div class="container"> %>
<div class="d-flex justify-content-center">
  <%= link_to 'Ingresar nuevo Edifcio', new_building_path, class: "text-center btn btn-outline-danger" %>
  <%# <%= link_to 'Ingresar nuevo Edifcio', new_building_path, class: "d-flex justify-content-center btn btn-outline-success" %>
</div>

<%#  building cards creator %>
<div class="row justify-content-evenly">
  <% @buildings.each do |building| %>
    <div class="card col-3 d-flex bg-secondary">
      <div class="card-title pb-4">
        <h2 class="text-center mt-3 card-title-height"><%= building.name %></h2>
        <%# <h6 class="card-subtitle mb-2 text-muted text-center">Nombre</h6> %>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-outline-success position-relative"  title="Disponible(s)">
            D
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              99
            </span>
          </button>
          <button type="button" class="btn btn-outline-info position-relative" title="Reservado(s)">
            R
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              99
            </span>
          </button>
          <button type="button" class="btn btn-outline-danger position-relative" title="Arrendado(s)">
            A
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              99
            </span>
          </button>
        </div>
        <br>
        <p class="card-text text-center address-height"><%= building.address %></p>
        <h4 class="card-title text-center"><%= building.city %></h4>
      </div>
      <div class="card-footer mb-2">
        <div class="d-flex justify-content-around">
          <%= link_to building, class: "btn btn-outline-primary", title: 'Mostrar' do %> 
          <%# <%= link_to building, class: "btn btn-outline-primary", title: 'Mostrar', 'data-toggle' => 'tooltip' do %>
            <i class="bi bi-eye"></i>
          <% end %>
          <%= link_to edit_building_path(building), class: "btn btn-outline-primary", title: 'Editar' do %> 
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to  building, method: :delete, data: { confirm: '¿Está seguro de querer eliminarlo?' }, class: "btn btn-outline-primary",  title: 'Eliminar' do %>
            <i class="bi bi-trash"></i> 
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
</div>
   
