<p id="notice"><%= notice %></p>

<%# <h1 class= "text-center fs-1">Edificios</h1> %>

<br>
<h1 class= "text-center fs-1">Edificios</h1>
<div class="row">
  <%# <div class="col-3"> %>
    <% @buildings.each do |building| %>
      <div class="card col-3" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title text-center"><%= building.name %></h2>
          <h6 class="card-subtitle mb-2 text-muted text-center">Nombre</h6>
          <hr>
          <br>
          <p class="card-text text-center"><%= building.address %></p>
          <br>
          <h4 class="card-title text-center"><%= building.city %></h4>
          <br>
          <div class="d-flex justify-content-around">
            <%= link_to building, class: "btn btn-outline-danger", title: 'Mostrar', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %> 
              <i class="bi bi-eye"></i>
            <% end %>
            <%= link_to edit_building_path(building), class: "btn btn-outline-danger", title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %> 
              <i class="bi bi-pencil-square"></i>
            <% end %>
            <%= link_to  building, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger",  title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
              <i class="bi bi-trash"></i> 
            <% end %>
          </div>
          <%# <a href="#" class="card-link">Another link</a> %>
        </div>
      </div>
    <% end %>
    <br>
    <%= link_to 'New Building', new_building_path %>
  <%# </div> %>
</div>
