<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @building.city %>
</p>

<%= link_to edit_building_path(@building), class: "btn btn-outline-primary", title: 'Editar' do %> 
  <i class="bi bi-pencil"></i> 
<% end %> | 
<%= link_to  buildings_path, class: "btn btn-outline-primary", title: 'Volver' do %> 
  <i class="bi bi-arrow-counterclockwise"></i>
<% end %>

<hr>
<h2>Nuevo Departamento</h2>

<%= render 'apartments/form' %>


<hr>

<h2>Lista de Departamentos</h2>

<table>
  <tr>
    <th>Número </th>
    <th> &emsp; Status </th>
    <th> &emsp; Edificio</th>
    <th> &emsp; &emsp; Acciones</th>
  </tr>

  <% @building.apartments.each do |apartment| %>
    <% if apartment.persisted? %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= apartment.status %></td>
        <td><%= @building.name %></td>
        <td>
          <%= link_to [apartment.building, apartment], class: "btn btn-outline-primary", title: 'Mostrar' do %> 
            <i class="bi bi-eye"></i>
          <% end %>
          <%= link_to edit_building_apartment_path(apartment.building, apartment), class: "btn btn-outline-primary", title: 'Editar' do %> 
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to [apartment.building, apartment], method: :delete, data: { confirm: '¿Seguro(a) de eliminar?'}, class: "btn btn-outline-primary", title: 'Eliminar' do %> 
            <i class="bi bi-trash"></i> 
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>


<hr>

<%= button_to 'Nuevo Departamento', new_building_apartment_path(@building.id), method: :get, class: "btn btn-outline-primary" %>
<%= link_to  buildings_path, class: "btn btn-outline-primary", title: 'Volver a Edificios' do %> 
  <i class="bi bi-arrow-counterclockwise"></i>
<% end %>

<%# <%= link_to 'Nuevo Departamento', new_building_apartment_path(params[:building.id]), class: "btn btn-outline-success" %>
<%# <%= button_to 'Nuevo Departamento', new_building_apartment_path(params[:building_id]), method: :get, class: "btn btn-outline-success" %>