<div class="card mx-auto">
  <h3 class = "text-center mt-2">INGRESAR</h3>
  <%= image_tag 'buildings.png', alt: 'buildings', class: "mt-1 img_login" %>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <h6 class = "mb-0">Correo</h6>
        <%# <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <h6 class = "mt-3 mb-0">Clave</h6>
        <%# <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="card-footer mb-2">
        <div class="d-flex justify-content-around">
          <div class="actions">
            <%= f.submit "Ingresar", class: "btn btn-outline-primary" %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>