<h2>Lista de Departamentos</h2>

<table>
  <tr>
    <th>Número </th>
    <th> Status </th>
    <th> Edificio</th>
  </tr>

<% @apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.number %></td>
    <td><%= apartment.status %></td>
    <td><%= apartment.building %></td>
    <td><%= link_to 'Show', [apartment.building, apartment] %></td>
    <td><%= link_to 'Edit', edit_building_apartment_path(apartment.building, apartment) %></td>
    <td><%= link_to 'Destroy', [apartment.building, apartment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Nuevo Departamento', new_building_apartment_path(params[:building_id]), method: :get, class: "btn btn-outline-success" %>
<%# <%= link_to 'Nuevo Departamento', new_building_apartment_path(params[:building_id]) %>
