<p id="notice"><%= notice %></p>

<p>
  <b>Número:</b>
  <%= @apartment.number %>
</p>

<p>
  <b>Status:</b>
  <%= @apartment.status %>
</p>

<p>
  <b>Edificio:</b>
  <%= @building.name %>
  <%# <%= @apartment.building %>
</p>

<%= link_to edit_building_apartment_path(@apartment.building, @apartment), class: "btn btn-outline-primary", title: 'Editar' do %> 
  <i class="bi bi-pencil"></i>
<% end %> | 
<%= link_to building_apartments_path(@apartment.building), class: "btn btn-outline-primary", title: 'Volver' do %> 
  <i class="bi bi-arrow-counterclockwise"></i>
<% end %>

